body {
    font-family: 'Open Sans';
}

.container {
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        width: calc(1200px - 260px);
    }    
}